<div class='contain-store'>
    <div class='contain-store__imgs'>
        <img src='/img/store/{{store.avatar}}' alt='' />

        <div class='contain-store__content'>
            <div class='contain-store__title'>{{store.name}}</div>
            <div class='contain-store__detail'>
                <p class='address'>{{count store.branchs}} địa điểm -</p>
                <p class='comment'>{{countTwoArr store.branchs}} bình luận -</p>
                <p class='image'>{{countImg}} hình ảnh</p>
            </div>
        </div>
    </div>
    <div class='contain-store__list'>
        <div class='contain-store__card'>
            <div class='card_first'>
                <img src='/img/store/' alt='Loading...' />
            </div>
            <div class='card_second'>
                <div class='card-total'>7.7</div>
                <div class='card-store'>
                    <a class='card-store-name'> Bún đậu mắm tôm 3 phải - Mậu thân</a>
                    <div class='card-store_address'>58A Mậu Thân, P. An Hòa, Quận Ninh Kiều, Cần Thơ</div>
                </div>
            </div>
            <div class='card_comment'>
                <img src='/img/store/store.png' class='avatar' />
                <div class='card_rate'>
                    <b class='title'>Rachel Mile</b>
                    <div class='content'>
                        <p>Bún đậu mắm tôm 3 phải - Mậu thân Bún đậu mắm tôm 3 phải - Mậu thân</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='contain-store__card'>
            <div class='card_first'>
                <img src='/img/store/' alt='Loading...' />
            </div>
            <div class='card_second'>
                <div class='card-total'>7.7</div>
                <div class='card-store'>
                    <a class='card-store-name'> Bún đậu mắm tôm 3 phải - Mậu thân</a>
                    <div class='card-store_address'>58A Mậu Thân, P. An Hòa, Quận Ninh Kiều, Cần Thơ</div>
                </div>
            </div>
            <div class='card_comment'>
                <img src='/img/store/store.png' class='avatar' />
                <div class='card_rate'>
                    <b class='title'>Rachel Mile</b>
                    <div class='content'>
                        <p>Bún đậu mắm tôm 3 phải - Mậu thân Bún đậu mắm tôm 3 phải - Mậu thân</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>