<link rel="stylesheet" href="/css/detailbranch.css">
<div class='branch'>
    <div class='branch-avatar'>
        <img src='/img/branch/{{branch.avatar}}' alt='Loading...' />
    </div>
    <div class='branch-content'>
        <div class='group-address'>
            <a href=''>Cần thơ </a>>>
            <a href=''>{{branch.district}}</a>
        </div>
        <div class='dish'>
            <p>{{branch.name}}</p>
        </div>
        <div class='categories'>
            {{#if categories}}
                {{#each categories}}
                <a href=''>{{this}} </a>-
                {{/each}}
            {{else}}
             <a href=''>Trống!</a>
             {{/if}}
            <a href='/stores/{{branch.id_store}}' class='branchs'>Chi nhánh</a>
        </div>
        <ul class='list-rate'>
            {{displayUiTotalBranch branch.rates}}
        </ul>
        <div class='detail-address'>
            <i class='fa-solid fa-location-dot'></i>
           {{getAddresForUiBranch branch}}
        </div>
        <div class='activities'>
            <i class='fa-solid fa-clock'></i>
            {{getStatusTime branch.startTime  branch.endTime}}
            <a>{{displayTimeBranch branch.startTime branch.endTime}}</a>
        </div>
        <div class='price'>
            <i class='fa-solid fa-tag'></i>
            <a>{{getPrice price}} </a>
        </div>
    </div>
</div>
{{> listDish}}
<div class='nav'>
    <ul>
        <li>
            <a href=''>
                <i class='fa-solid fa-phone'></i>
                <p>Gọi điện thoại</p>
            </a>

        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-rectangle-list'></i>
                <p>Bộ sưu tập</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-comment'></i>
                <p>Bình luận</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-camera'></i>
                <p>Hình ảnh</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-share'></i>
                <p>Chia sẻ</p>
            </a>
        </li>
    </ul>
</div>
<div class='container-comment'>
    <div class='comment-main'>
        <div class='filter'>
            <div class='detail'>
                <b>Mới nhất</b>
                <p>{{getComment branch.rates}}</p>
            </div>
        </div>
        <div class='list-comment'>
            {{#if commments}}
            {{#each commments}}
            <div class='detail'>
                <a href="?idRate={{this.id}}" class='infomation'>
                    <div class='infomation-customer'>
                        <img src='/img/user/{{this.customer.url_img}}' alt='Loading' />
                        <div class='customer-detail'>
                            <b>{{this.customer.fullName}}</b>
                            <p class='time'> <i class='fa-solid fa-clock'></i>{{convertToDate this.createdAt}}</p>
                        </div>
                    </div>
                    <div class='total-rate'>{{getTotalOneRate this}}</div>
                </a>
                <div class='wrap-content'>
                    <h3 class='title'>
                       {{this.title}}
                    </h3>
                    <p class='content'>
                        {{this.content}}
                    </p>
                    <div class="image-comment">
                        {{#if this.images }}
                        {{#each this.images}}
                            <img src="/img/imgRates/{{this.image}}" alt="">
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <ul class='like'>
                    <li>
                        <i class='fa-solid fa-heart'></i>
                        <p>Like</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-comment'></i>
                        <p>Bình luận</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-triangle-exclamation'></i>
                        <p>Cảnh báo</p>
                    </li>
                     <li>
                        <a href="">Xóa</a>
                    </li>
                     <li>
                        <a href="?idUpdate={{this.id}}">Chỉnh sửa</a>
                    </li>
                </ul>
            </div>
            {{/each}}
            {{else}}
             <div class='detail'><h2>Chưa có bình luận nào. Hãy trở thành người đầu tiên.</h2></div>
             {{/if}}
        </div>
        <div class='load-more'>
            <a href='?page={{_page.indexComment}}&table=comment'>Xem Thêm bình luận</a>
        </div>
    </div>
    <div class='parameter-rate'>
        <h3 class='total-conment'>
            {{getCountComment branch.rates}} bình luận đã đánh giá
        </h3>
        <div class='rating-parameter'>
         {{displayUiTotalRatingBranch branch.rates}}
        </div>
        <div class='rating-box'>
            {{displayTotalRating branch.rates}}
        </div>
        <button class='button-comment' onclick='requiedLogin("{{isUser}}")' >
            Bình luận
        </button>
    </div>
</div>
<div class="wrap-map">
    {{> map}}
</div>
