<form
    class='modal-comment'
    id='modal-comment'
    role='dialog'
    action='{{#if actionForm}}{{actionForm}}{{else}}/rates/create/{{branch.id}}{{/if}}'
    method='POST'
    enctype='multipart/form-data'
    style='display: {{displayModalCommet}};'
>
    <div class='modal-content'>
        <div class='modal-header'>
            <p class='modal-title'>Viết bình luận</p>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                <span
                    aria-hidden='true'
                    class='close-modal_commment'
                    onclick='closeModalComment(".close-modal_commment","#modal-comment")'
                >&times;</span>
            </button>
        </div>
        <div class='modal-body'>
            <div class='info-branch'>
                <div class='detail-branch'>
                    <img src='/img/branch/{{branch.avatar}}' alt='' />
                    <div class='wrap-detail'>
                        <div class='total'>
                            {{getTotalRates branch.rates}}
                        </div>
                        <div class='detail-content'>
                            <div class='name'>
                                <h3>{{branch.name}}</h3>
                            </div>
                            <div class='address'>
                                <p>{{branch.street}}, {{branch.ward}}, {{branch.district}},{{branch.province}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='rating'>
                    <div class='rating-parameter'>
                        <div class='row'>
                            <div class='detail-row'>
                                <div class='side'>
                                    <p>Vị trí</p>
                                </div>
                                <div class='middle'>
                                    <div class='bar-container'>
                                        <input
                                            type='range'
                                            name='location'
                                          
                                            min='1'
                                            max='10'
                                            id='location'
                                            class='input-range'
                                        />
                                    </div>
                                </div>
                                <div class='side right'>
                                    <p class='value-range'>{{#if comment.location}}{{comment.location}}{{else}}5{{/if}}</p>
                                </div>
                            </div>
                            <div class='detail-row'>
                                <div class='side'>
                                    <p>Giá cả</p>
                                </div>
                                <div class='middle'>
                                    <div class='bar-container'>
                                        <input
                                            type='range'
                                            name='price'
                                            min='1'
                                            max='10'
                                            id='price'
                                            class='input-range'
                                        />
                                    </div>
                                </div>
                                <div class='side right'>
                                    <p class='value-range'>{{#if comment.price}}{{comment.price}}{{else}}5{{/if}}</p>
                                </div>
                            </div>
                            <div class='detail-row'>
                                <div class='side'>
                                    <p>Chất lượng</p>
                                </div>
                                <div class='middle'>
                                    <div class='bar-container'>
                                        <input
                                            type='range'
                                            name='quality'
                                            min='1'
                                            max='10'
                                            id='quality'
                                            class='input-range'
                                        />
                                    </div>
                                </div>
                                <div class='side right'>
                                    <p class='value-range'>{{#if comment.quality}}{{comment.quality}}{{else}}5{{/if}}</p>
                                </div>
                            </div>
                            <div class='detail-row'>
                                <div class='side'>
                                    <p>Phục vụ</p>
                                </div>
                                <div class='middle'>
                                    <div class='bar-container'>
                                        <input
                                            type='range'
                                            name='servi'
                                            min='1'
                                            max='10'
                                            id='servi'
                                            class='input-range'
                                        />
                                    </div>
                                </div>
                                <div class='side right'>
                                    <p class='value-range'>{{#if comment.servi}}{{comment.servi}}{{else}}5{{/if}}</p>
                                </div>
                            </div>
                            <div class='detail-row'>
                                <div class='side'>
                                    <p>Không gian</p>
                                </div>
                                <div class='middle'>
                                    <div class='bar-container'>
                                        <input
                                            type='range'
                                            min='1'
                                            max='10'
                                            name='space'
                                            id='space'
                                            class='input-range'
                                        />
                                    </div>
                                </div>
                                <div class='side right'>
                                    <p class='value-range'>{{#if comment.space}}{{comment.space}}{{else}}5{{/if}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='content-comment'>
                <div class='comment-title'>
                    <input
                        type='text'
                        name='title'
                        class='title'
                        value="{{#if comment}} {{comment.title}}{{/if}}"
                        placeholder='"Nhập tiêu đề: Món ăn ở đây thật tuyệt vời!"'
                    />
                </div>
                <textarea name='content' id='' cols='30' rows='10'>{{#if comment}} {{comment.content}}{{/if}}</textarea>
                <div class='image-comment'>
                    <div class='upload-img'>
                        <input type='file' name='image' id='image' multiple hidden />
                        <label for='image' onclick='handleImgComment()'> + Thêm hình ảnh</label>
                    </div>
                    <div class='list-img'>

                    </div>
                </div>
                <div class='wrap-option__comment'>
                    <ul class='option-comment'>
                        <li>
                            <i class='fa-solid fa-camera'></i>
                            <a href=''>Hình ảnh</a>
                        </li>
                        <li>
                            <i class='fa-solid fa-video'></i>
                            <a href=''>Video</a>
                        </li>
                        <li>
                            <i class='fa-regular fa-comment'></i>
                            <a href=''>Bình luận</a>
                        </li>
                        <li>
                            <i class='fa-solid fa-share'></i>
                            <a href=''>Chia sẻ</a>
                        </li>
                    </ul>
                    <button type='submit' class='submmit-comment'>Hoàn tất</button>
                </div>
            </div>
        </div>

    </div>
</form>
<link rel='stylesheet' href='/css/modalcomment.css' />
<script src='/js/manage.js'></script>
<script>handleInputRates('.input-range');</script>