<div class='about' id='About'>
    <div class='about_main'>

        <div class='image'>
            <img src='image/Food-Plate.png' />
        </div>

        <div class='about_text'>
            <h1><span>Cần Thơ</span> Ẩm thực</h1>
            <h3>Why Choose us?</h3>
            <p>
                Nói đến Cần Thơ, người ta sẽ nghĩ ngay đến một vùng đất được bao bọc bởi những dòng sông thơ mộng, nghĩ
                ngay đến những con người nhiệt thành, giản dị và đặc biệt là những món ăn đặc sản, những nét đặc biệt
                trong cách chế biến món ăn. Để khi du khách đến với vùng đất này, họ cứ mãi lưu luyến chẳng muốn rời.
            </p>
        </div>

    </div>

    <a href='#' class='about_btn'>Order Now</a>

</div>

<!--Menu-->

<div class='menu' id='Menu'>
    <h1>Our<span>Menu</span></h1>
    <div class='wrap_filter'>
        <ul class='menu_status'>
            <li class='menu_title'>
                <img src='/image/giaohang.png' alt='' />
                <p>Giao hàng tận nơi</p>
            </li>
            <li class='active'>
                <a href=''>Mới nhất</a>
            </li>
            <li>
                <a href=''>Gần tôi</a>
            </li>
            <li>
                <a href=''>Đã lưu</a>
            </li>
        </ul>
        <ul class='menu_selects'>
            <li class='menu_title'>
                <select name='' id=''>
                    <option value=''>-Danh mục-</option>
                </select>
            </li>
            <li class='menu_title'>
                <select name='' id=''>
                    <option value=''>-Ẩm thực-</option>
                </select>
            </li>
            <li class='menu_title'>
                <select name='' id=''>
                    <option value=''>-Quận/Huyện-</option>
                </select>
            </li>

        </ul>
    </div>
    <div class='menu_box'>
        {{#if branchs}}
            {{#each branchs}}
                <div class='menu_card'>
                    <div class='menu_image'>
                        <img src='/img/branch/{{this.avatar}}' />
                    </div>
                    <div class='small_card'>
                        <i class='fa-solid fa-heart'></i>
                    </div>
                    <div class='menu_info'>
                        <h2>{{this.name}}</h2>
                        <p>
                            {{this.street}},
                            {{this.ward}},
                            {{this.district}},

                        </p>
                        <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                        <div class='menu_icon'>
                            {{displayUiTotalRatingBranchMain this.rates}}
                        </div>
                        <a href='/branch/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
                    </div>
                </div>
            {{/each}}
        {{/if}}
        <div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div><div class='menu_card'>
            <div class='menu_image'>
                <img src='/img/branch/{{this.avatar}}' />
            </div>
            <div class='small_card'>
                <i class='fa-solid fa-heart'></i>
            </div>
            <div class='menu_info'>
                <h2>{{this.name}}</h2>
                <p>
                    {{this.street}},
                    {{this.ward}},
                    {{this.district}},

                </p>
                <h3><i class='fa-solid fa-tag'></i>{{this.category.name}}</h3>
                <div class='menu_icon'>
                    {{displayUiTotalRatingBranchMain this.rates}}
                </div>
                <a href='/cantho/branch/{{this.slug}}' class='menu_btn'>Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class='pagination'>
        <a href='?page=1'>«</a>
        <a class='active' href='?page=1'>1</a><a class='' href='?page=2'>2</a>
        <a href='?page=2'>»</a>
    </div>
</div>
<link rel='stylesheet' href='/css/listBranch.css' />